<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:spring="http://java.sun.com/xml/ns/javaee">

<div id="results">
    <div class="table-wrapper-scroll-y my-custom-scrollbar">

    <table class="table table-dark table-striped mb-0">
        <thead>
        <tr>
            <th scope="col" style="width: 15%">Date</th>
            <th scope="col" style="width: 25%">Route</th>
            <th scope="col" style="width: 10%">Distance</th>
            <th scope="col" style="width: 20%">Max temp</th>
            <th scope="col" style="width: 20%">Min temp</th>
            <th scope="col" style="width: 10%"></th>
            <th scope="col"></th>
        </tr>
        </thead>
            <tbody>

                    <tr th:each="searchedRoute: ${results}">
                        <td><h5 th:text="${searchedRoute.searchDate}" style="vertical-align: middle"></h5></td>
                        <td><h5 th:text="${searchedRoute.start} + '   to   ' + ${searchedRoute.destination} " style="vertical-align: middle"></h5></td>
                        <td><h5 th:text="${searchedRoute.distance}"></h5></td>
                        <td><h5 th:text="${searchedRoute.maxTemp}"></h5></td>
                        <td><h5 th:text="${searchedRoute.minTemp}"></h5></td>
<!--                        <td><a th:href="@{/delete/{id}(id=${routeStats.id})}">Delete</a></td>-->
                        <td>
                            <form th:action="@{/delete/{id}(id=${searchedRoute.id})}">
                                <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Remove</button>
                            </form>
                        </td>
<!--                        <td>-->
<!--&lt;!&ndash;                            <form class="form-inline my-2 my-lg-0" th:object="${routeStats}" th:action="@{/routeDelete}" method="delete">&ndash;&gt;-->
<!--                            <button class="btn btn-outline-danger my-2 my-sm-0" type="submit"-->
<!--                                    th:action="@{/delete/{id}(id=${routeStats.id})}">Remove</button>-->
<!--                            </form>-->
<!--                        </td>-->

            </tbody>
    </table>
    </div>
</div>