<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div id="results">
    <div class="table-wrapper-scroll-y my-custom-scrollbar">

    <table class="table table-dark table-striped mb-0">
        <thead>
        <tr>
            <th scope="col" style="width: 10%">Date</th>
            <th scope="col" style="width: 30%">Route</th>
            <th scope="col" style="width: 10%">Distance</th>
            <th scope="col" style="width: 20%">Max temp</th>
            <th scope="col" style="width: 20%">Min temp</th>
            <th scope="col" style="width: 10%"></th>
            <th scope="col"></th>
        </tr>
        </thead>
            <tbody>
<!--                    <tr th:each="locationWeather: ${list}">-->
<!--                        <td><h5 th:text="${locationWeather.location}" style="vertical-align: middle"></h5></td>-->
<!--                        <td><h5 th:text="${locationWeather.temp} + ' °C'"></h5></td>-->
<!--                        <td><h5 th:text="${locationWeather.description}"></h5></td>-->
<!--                        <td><img th:src="'/css/weatherIcons/' + ${locationWeather.icon}" height="45"></td>-->
            </tbody>
    </table>
    </div>
</div>