<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div id="results">
    <div class="table-wrapper-scroll-y my-custom-scrollbar">

    <table class="table table-dark table-striped mb-0">
        <thead>
        <tr>
            <th scope="col" style="width: 15%">Date</th>
            <th scope="col" style="width: 25%">Route</th>
            <th scope="col" style="width: 10%">Distance</th>
            <th scope="col" style="width: 20%">Max temp</th>
            <th scope="col" style="width: 20%">Min temp</th>
            <th scope="col" style="width: 10%"></th>
            <th scope="col"></th>
        </tr>
        </thead>
            <tbody>
                    <tr th:each="routeStats: ${results}">
                        <td><h5 th:text="${routeStats.searchDate}" style="vertical-align: middle"></h5></td>
                        <td><h5 th:text="${routeStats.start} + '   to   ' + ${routeStats.destination} " style="vertical-align: middle"></h5></td>
                        <td><h5 th:text="${routeStats.distance}"></h5></td>
                        <td><h5 th:text="${routeStats.maxTemp}"></h5></td>
                        <td><h5 th:text="${routeStats.minTemp}"></h5></td>
                        <td>
                            <form class="form-inline my-2 my-lg-0"
                                  th:object="${stats}"
                                  th:action="@{/saveRoute}"
                                  method="post">
                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">SHOW ROUTE</button>
                            </form>
                        </td>
            </tbody>
    </table>
    </div>
</div>