<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div id="weather">

    <table class="table table-dark">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Location</th>
            <th scope="col">Temperature</th>
            <th scope="col">Weather</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td><h3 th:text="${location}"></h3></td>
            <td><h3 th:text="${temperature} + ' °C'"></h3></td>
            <td></td>
        </tr>

        </tbody>
    </table>
</div>