<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:class="http://www.w3.org/1999/xhtml">

<div id="weather">

    <table class="table table-dark">
        <thead>
        <tr>
            <th scope="col">Location</th>
            <th scope="col">Temperature</th>
            <th scope="col">Weather</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="locationWeather: ${list}">
            <td class="center"><h4 th:text="${locationWeather.location}"></h4></td>
            <td><h4 th:text="${locationWeather.temp}"></h4></td>
            <td><h4 th:text="${locationWeather.description}"></h4></td>
            <td><img th:src="'/css/weatherIcons/' + ${locationWeather.icon}" height="64"></td>
        </tr>
        </tbody>
    </table>
</div>