body
{
    background-color: #626f85;
    color: white;
}

.container
{
    width: 100%;
    padding: 25px;
}

#map
{
    margin-left: auto;
    float: left;
    margin-top: 50px;
    height: 600px;
    width: 800px;
}