<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>RouteFinder</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link href="/webjars/bootstrap/4.3.1/css/bootstrap.css" rel="stylesheet" />
    <script type="text/javascript" src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/js/main.js" th:src="@{/js/main.js}"></script>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

<div th:insert="fragments/navbar.html"></div>

<div id="container">

    <div th:insert="fragments/mapDirections.html"></div>

    <div th:insert="fragments/weather.html"></div>

    <div style="clear:both"></div>

    <div th:insert="fragments/statsbar.html"></div>

</div>

</body>
</html>